.userChatImg {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
}

.userChatName {
  display: block;
  float: right;
  font-size: 20px;
}
.userChatName:hover {
  background-color: rgba(100, 90, 90, 0.5);
  cursor: pointer;
}

.userChat {
  display: block;
  width: 300px;
  padding-top: 50px;
}
